@import 'assets/styles/utils/vars';
@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),
        url("../../../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
};

.Container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
};

.Login {
    font-family: "Lato-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-decoration: none;
    color: $text-button-color;
    display: block;
    padding: 8px 18px;
    background: $main-white;
    border-radius: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
};

.Register {
    font-family: "Lato-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    color: $main-white;
    text-decoration: none;
    display: block;
    padding: 8px 18px;
    background: $accent;
    border-radius: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
};