@import '../../assets/styles/utils/mixins';
@import '../../assets/styles/utils/vars';

.container{
    height: 100%;
    position: relative;
    padding-top: 60px;

    @include container;
    @include tablet{
        height: 100%;
        padding-top: 72px;
    }
    @include desktop{
        padding-top: 142px;
        height: calc(100vh - 72px);
    }
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    margin-bottom: 124px;

    font-family: 'Unbounded-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.42;

    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    color: $main-white;

    @include tablet{
        width: 646px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        margin-bottom: 124px;

        font-size: 44px;
        line-height: 1.27;
    }

    @include desktop{
        width: 646px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        margin-bottom: 0px;

        font-size: 44px;
        line-height: 1.27;
    }
}

.textTwo{
    @include tablet{
        font-size: 48px;
        line-height: 1;
    }
    @include desktop{
        font-size: 48px;
        line-height: 1;
    }
}

.text{
    padding: 10px 20px;

    font-family: 'Unbounded-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;

    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    color: $main-white;

    background: $accent;
    border-radius: 60px;
    @include tablet{
        font-size: 48px;
    }
    @include desktop{
        font-size: 48px;
    }
}


.icon{
    position: relative;
    right: 17px;
    bottom: 0;
    @include tablet{
        position: relative;
        margin-left: auto;
        margin-right: auto;

        content: url('../../assets/img/hero-bg-tablet.png');
    }
    @include desktop{
        position: absolute;
        bottom: 0;
        right: 0;
        content: url('../../assets/img/hero-bg-desktop.png');
    }
}
