@import '../../../assets//styles/utils/vars';

.select {
  width: 343px;
  height: 62px;
  border-radius: 16px;
  background-color: $accent;
  display: flex;
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  @media screen and (min-width: 768px) {
    width: 223px;
    height: 52px;
  }
}

.monthInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 12px;
  line-height: 1.16;
  color: rgba(243, 243, 243, 0.4);
}

.exactMonth {
  font-size: 16px;
  line-height: 1.18;
  color: $main-white;
}

.span {
  color: $main-white;
  transform: rotate(90deg);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

// __________Stats________________

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 343px;
  height: 212px;
  margin-top: 28px;

  @media screen and (min-width: 768px) {
    width: 422px;
    height: 52px;
    flex-wrap: nowrap;
    gap: 8px;
  }
}

.item {
  width: 163px;
  height: 60px;
  background: rgba(31, 37, 52, 0.5);
  border-radius: 16px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  @media screen and (min-width: 768px) {
    min-width: 78px;
    height: 52px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 90px;
    height: 60px;
  }
}

.descr {
  font-size: 8px;
  line-height: calc(18 / 8);
  color: rgba(243, 243, 243, 0.6);

  @media screen and (min-width: 1280px) {
    font-size: 12px;
    line-height: calc(18 / 12);
  }
}

.sum {
  font-size: 12px;
  line-height: calc(16 / 12);
  color: $main-white;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.datepicker {
  position: absolute;
  width: 343px;
  height: 260px;
  background-color: #fff;
  border-radius: 16px;
}

.ninja {
  display: none;
}
