.react {
  display: block;
  width: 223px;
  height: 52px;
  color: white;
  background-color: rgba(58, 106, 245, 1);
  border-radius: 16px;
  padding-left: 18px;
  // padding-bottom: 12px;
  cursor: pointer;
  // &::placeholder {
  //   background: red;
  //   color: white;
  // }
}
