.react-select {
  background-color: red;
  &-container {
    height: 100%;
    border-color: transparent !important;
  }
  &__control {
    background-color: transparent !important;
    border-color: transparent !important;
    padding-left: 8px;
    height: 100%;
  }
  &__value-container {
    padding: 0;
    // padding-left: 18px;
  }
  &__option {
    color: black !important;
    height: 35px;
    align-items: center;
    padding: 0;

    &:hover {
      background: #a7b3d4 !important;
      border-radius: 10px;
    }
  }
  &__single-value {
    color: #F3F3F3 !important;
  }

  &__indicator-separator {
    display: none;
  }

  &__menu {
    margin: 0px;
    border-radius: 10px;
    overflow: hidden;
  }
}
