@import 'assets/styles/utils/mixins';
@import 'assets/styles/utils/vars';


.HeaderBox {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: $main-dark;
    z-index: 9;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);


    @include tablet {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @include desktop {
        padding-top: 16px;
        padding-bottom: 16px;
    }
};

.AuthHeaderBox {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    background-color: $main-dark;
    z-index: 9;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include tablet {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @include desktop {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}