.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  //   transform: scale(0);
}
.active {
  opacity: 1;
  pointer-events: all;
}
.popup_block {
  position: relative;
  width: 315px;
  height: 418px;
  z-index: 10;
}
.svg_icon {
  position: absolute;
  top: 14px;
  right: 15px;
  cursor: pointer;
  background-color: #191d28;
  outline: none;
  border: none;
}
.form {
  padding: 50px 20px;
  background: #191d28;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.inputField {
  position: relative;
}
.labelTitle {
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height */
  display: flex;
  align-items: center;
  color: rgba(243, 243, 243, 0.4);
}
.inputText {
  width: 275px;
  height: 74px;
  outline: none;
  border: none;
  padding: 34px 18px 24px;
  margin-bottom: 18px;
  border-radius: 16px;
  background: rgba(37, 44, 65, 0.5);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f3f3f3;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 56px;
  gap: 10px;
  height: 36px;
  background: #3a6af5;
  border-radius: 60px;
  outline: none;
  border: none;
  margin-top: 24px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  text-align: center;
  font-feature-settings: 'liga' off;

  color: #f3f3f3;
}
.selectData{
  width: 100%;
  background: rgba(37, 44, 65, 0.5);
}